{
  "project_info": {
    "project_number": "793070155049",
    "project_id": "mentor-connect-b4287",
    "storage_bucket": "mentor-connect-b4287.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:793070155049:android:c2fed6a736f5660d80b338",
        "android_client_info": {
          "package_name": "com.example.mentor_connect"
        }
      },
      "oauth_client": [
        {
          "client_id": "793070155049-v8gnhco7egipe629veopghbrqtjcemc6.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.example.mentor_connect",
            "certificate_hash": "{{YOUR_DEBUG_SHA1}}"
          }
        },
        {
          "client_id": "793070155049-ts79c3msfdauph50ogop1rimg5716n9q.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "{{YOUR_GCP_API_KEY}}"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "793070155049-ts79c3msfdauph50ogop1rimg5716n9q.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
